## Exploring olympic speed skating data

In [32]:
import pandas as pd 

df = pd.read_csv("speed_skaters.csv")
df_skaters = df.fillna(0)


df2006 = pd.read_csv("mens1500_2006.csv")
df2010 = pd.read_csv("mens1500_2010.csv")
df2014 = pd.read_csv("mens1500_2014.csv")
df2018 = pd.read_csv("mens1500_2018.csv")
df2022 = pd.read_csv("mens1500_2022.csv")

df_results = pd.concat([df2006, df2010, df2014, df2018, df2022])
df_results

    Rank           Athlete Country    Result  Finished  Year
0    1.0     Enrico FABRIS     ITA  01:45.97         1  2006
1    2.0       Shani DAVIS     USA  01:46.13         1  2006
2    3.0      Chad HEDRICK     USA  01:46.22         1  2006
3    4.0     Simon KUIPERS     NED  01:46.58         1  2006
4    5.0   Erben WENNEMARS     NED  01:46.71         1  2006
..   ...               ...     ...       ...       ...   ...
24  25.0  Alessio TRENTINI     ITA  01:48.33         1  2022
25  26.0     Peter MICHAEL     NZL  01:48.68         1  2022
26  27.0        Ziwen LIAN     CHN  01:49.15         1  2022
27  28.0      Casey DAWSON     USA  01:49.45         1  2022
28  29.0     Mathias VOSTE     BEL  01:49.93         1  2022

[182 rows x 6 columns]

In [33]:
df_merge = df_results.merge(df_skaters, left_on = "Athlete", right_on = "Name")
df_merge

,Rank,Athlete,Country,Result,Finished,Year,Name,Birth year,Height,Weight
0,1.0,Enrico FABRIS,ITA,01:45.97,1,2006,Enrico FABRIS,1981,1.89,80.0
1,10.0,Enrico FABRIS,ITA,01:47.02,1,2010,Enrico FABRIS,1981,1.89,80.0
2,2.0,Shani DAVIS,USA,01:46.13,1,2006,Shani DAVIS,1982,1.88,86.0
3,2.0,Shani DAVIS,USA,01:46.10,1,2010,Shani DAVIS,1982,1.88,86.0
4,11.0,Shani DAVIS,USA,01:45.98,1,2014,Shani DAVIS,1982,1.88,86.0
...,...,...,...,...,...,...,...,...,...,...
177,22.0,Tyson LANGELAAR,CAN,01:47.81,1,2022,Tyson LANGELAAR,1999,1.92,85.0
178,23.0,Antoine GELINAS-BEAULIEU,CAN,01:48.00,1,2022,Antoine GELINAS-BEAULIEU,1992,1.70,72.0
179,25.0,Alessio TRENTINI,ITA,01:48.33,1,2022,Alessio TRENTINI,1994,1.78,0.0
180,27.0,Ziwen LIAN,CHN,01:49.15,1,2022,Ziwen LIAN,1998,1.83,0.0
181,28.0,Casey DAWSON,USA,01:49.45,1,2022,Casey DAWSON,2000,1.83,0.0

In [74]:
df_filter = df_merge[(df_merge["Country"] == "USA") & (df_merge["Birth year"] > 1985)]
df_filter

,Rank,Athlete,Country,Result,Finished,Year,Name,Birth year,Height,Weight
72,15.0,Trevor MARSICANO,USA,01:47.84,1,2010,Trevor MARSICANO,1989,1.72,75.0
75,18.0,Brian HANSEN,USA,01:48.45,1,2010,Brian HANSEN,1990,1.83,75.0
76,7.0,Brian HANSEN,USA,01:45.59,1,2014,Brian HANSEN,1990,1.83,75.0
77,15.0,Brian HANSEN,USA,01:46.44,1,2018,Brian HANSEN,1990,1.83,75.0
116,22.0,Joey MANTIA,USA,01:48.01,1,2014,Joey MANTIA,1986,1.73,78.0
117,8.0,Joey MANTIA,USA,01:45.86,1,2018,Joey MANTIA,1986,1.73,78.0
118,6.0,Joey MANTIA,USA,01:45.26,1,2022,Joey MANTIA,1986,1.73,78.0
134,37.0,Jonathan KUCK,USA,01:50.19,1,2014,Jonathan KUCK,1990,1.83,79.0
169,11.0,Emery LEHMAN,USA,01:45.78,1,2022,Emery LEHMAN,1996,1.83,83.0
181,28.0,Casey DAWSON,USA,01:49.45,1,2022,Casey DAWSON,2000,1.83,0.0

We filtered this DataFrame by using the index operator to select all of the athletes that are from the United States. We filtered the DataFrame again by selecting all of the athletes that were born after the year 1985.

In [73]:
df_weight = df_filter.groupby("Birth year")["Weight"].max()
df_weight

Birth year
1986    78.0
1989    75.0
1990    79.0
1996    83.0
2000     0.0
Name: Weight, dtype: float64

We grouped the DataFrame by the athlete's maximum weight for each birth year. For example, in the year 2000, there was no one born so the maximum weight for the athletes was 0.0.